{
  "extends": ["noise", "noise-node"],
  "env": {
    "jest": true
  },
  "root": true,
  "rules": {
    "no-param-reassign": "off"
  },
  "overrides": [
    {
      "files": "**/*.ts",
      "extends": "noise-ts"
    }
  ]
}
